
.loginpage{
    justify-content: center;
    display: flex;
    color: white;
    font-weight: bold;
}
.login {
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 20%;
    background: lightcoral;
}

input{
    width: 95%;
}

button.login{
    display: flex;
    vertical-align: middle;
}

form.loginForm{
    display: flex;
    margin: 1px;
    padding: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form.loginForm .buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

form.loginForm .buttons button{
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}