.img {
    padding-right: 10px;
}

.base {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    z-index: -1;
}

nav.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 30%;
    margin: 0;
    background: rgba(208, 208, 208, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    height: 30px;
    z-index: 1000;
    top: 10px;
    transition: height 0.3s ease, width 0.3s ease;
}

nav.navbar.expanded {
    height: auto;
    width: 90%;
    flex-direction: column;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: flex;
}

.space {
    height: 70px;
}

a {
    padding-left: 5px;
    padding-right: 5px;
}

.logout {
    width: fit-content;
    display: flex;
    cursor: pointer;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.logout mat-icon {
    display: flex;
    padding-left: 10px;
}

.navbar-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: rgb(208, 208, 208);
}

@media (min-width: 768px) {
    nav.navbar.expanded {
        height: fit-content;
    }
}

@media (max-width: 768px) {
    nav.navbar {
        width: 80%;
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    ul {
        flex-direction: column;
        width: 100%;
    }

    li {
        margin-bottom: 10px;
    }

    .logout {
        right: 10px;
        top: 50px;
    }
}

@media (max-width: 480px) {
    nav.navbar {
        width: 90%;
        padding: 5px;
    }

    .logout {
        right: 5px;
        top: 60px;
    }
}