<div class="base" *ngIf="loginState$ | async"> 
  <div class="logout" (click)="logout()">Logout <mat-icon>logout</mat-icon></div> 
  <nav class="navbar">
    <ul style="color: white;">
      <li><a routerLink="/home">Home</a><mat-icon>home</mat-icon></li>
      <li><a routerLink="/profile">Profile</a><mat-icon>person</mat-icon></li>
      <li><a routerLink="/settings">Settings</a><mat-icon>settings</mat-icon></li>
    </ul>
  </nav>
</div>
<div class="space"></div>
<router-outlet></router-outlet>