
li{
    list-style-type: none;
    width: 100%;
    justify-content: center;
    display: flex;

}

.post{
    color: white;
}

.mat-card-header{
    color: white;
    text-decoration: underline;
}
mat-card{
    padding: 30px;
    margin: 20px;
}

@media screen and (max-width: 768px){
    mat-card{
        padding: 5px;
        margin: 10px;
    }
    
}