.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f0f0f0;
}

.newpost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px; /* Smaller width */
    height: 250px; /* Smaller height */
    background-color: #fff;
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease; /* Added width and height transition */
}

.newpost:hover {
    background-color: #e0e0e0;
}



.addimg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; /* Adjusted font size */
    color: #ccc;
    width: 100%; /* Ensure it takes full width */
    height: 100%; /* Ensure it takes full height */
}

.addtext {
    font-size: 18px; /* Adjusted font size */
    color: #666;
}

.newPostEntry {
    width: 500px; /* Larger width */
    height: 40px; /* Added height */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: width 0.3s ease, height 0.3s ease; /* Added width and height transition */
}