<div class="home">
    <div class="newpost" id="newpost" (click)="toggleEditing(); changeDivContent()">
      <div class="ifFalse">
        <div class="addimg">+</div>
        <div class="addtext" style="color: white;">Add a new post</div>
      </div>
    </div>
</div>

<h2 class="recent-posts">Recent posts</h2>
<div class="divider" style="display: flex; justify-content: center;">
  <mat-divider style="width: 90%; height: 5px;"></mat-divider>
</div>

<!-- Recent posts -->
<app-blog mat-dark-theme></app-blog>

